@import url("https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sorts+Mill+Goudy:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");


:root {
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);
  --body-font: "Poppins", sens-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --white-text: #ffffff;
  --golden-text: #deb647;
  --brown-color: #a87735;
  --gray-text: #f6f6f6;
  --black-text: #000;
  --icon-size: 1.313rem;
}

.collection-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}

.category-head h1 {
  font-size: 12rem;
  font-family: fantasy;
  font-weight: normal;
  letter-spacing: 2.5rem;
  text-align: center;
  color: #a87735;
}

.category-head h1 {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.6s ease-out;
}

.category-head h1.show {
  opacity: 1;
  transform: translateX(0);
}

.category-data {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 70svh;
}

.category-data .scroll-hand {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.category-data .scroll-hand.show {
  opacity: 1;
  transform: translateY(0);
}

.card-1{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: var(--white-text);
  mix-blend-mode: darken;

}

.category-nav {
  width: 20%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.category-nav a.active {
    color: #a87735;
    font-weight: bold;
  }

.category-nav ul li {
  display: flex;
  flex-direction: column;
}

.category-nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--gray-text);
  font-family: "Montserrat", sans-serif;
}

.category-nav ul li a:hover {
  color: #a87735;
  font-weight: bold;
}

.category-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: 300px;
  gap: 1.5rem;
  position: relative;
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.6s ease-out;
}

.category-card.show {
  opacity: 1;
  transform: translateX(0);
}

.category-card img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.category-card img:hover {
  scale: 1.1;
  transition: all 0.5s linear;
}

.category-card h3,
p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

.category-card h3:hover {
  color: #a87735;
}

.category-card .view-more {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translate(-6%, -50%);
}

.category-card .view-more button {
  border: none;
  background: none;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.category-card .view-more button:hover {
  color: #a87735;
}
