@import url("https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sorts+Mill+Goudy:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sorts+Mill+Goudy:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  cursor: none;
  position: relative;
  background: var(--black-text);
  color: var(--white-text);
}


:root {
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);
  --body-font: "Poppins", sens-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --white-text: #ffffff;
  --golden-text: #deb647;
  --brown-color: #a87735;
  --gray-text: #f6f6f6;
  --black-text: #000;
  --icon-size: 1.313rem;
  --text-main: var(--brown-color);
  --green: #a87735;
  --violet: #deb647;
  --dark: #2b2b2b;
}

/* Dropdown Button */
.theme-drop {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.themebtn {
  background-color: var(--brown-color);
  color: var(--black-text);
  font-weight: 700;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.theme-content {
  display: none;
  position: absolute;
  background-color: var(--white-text);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.theme-content button {
  color: var(--black-text);
  padding: 12px 16px;
  width: 100%;
  text-align: left;
  border: none;
  background-color: var(--white-text);
  cursor: pointer;
}

.theme-content button:hover {
  background-color: #ddd;
}

.theme-drop:hover .theme-content {
  display: block;
}

.top-link {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background-color: var(--brown-color);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-size: 30px;
  color: var(--white-text);
  text-decoration: none;
}

.cursor {
  width: 50px;
  height: 50px;
  border: 2px solid var(--golden-text);
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: transform 0.1s linear;
  z-index: 1000000000000000000;
}

.cursor div {
  width: 20%;
  height: 20%;
  background: var(--golden-text);
  border-radius: 50%;
}

.welcome-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 20000;
  overflow: hidden;
  transition: all 1s linear;
  object-fit: cover;
}

.welcome-wrapper.loaderActive {
  opacity: 0;
  filter: blur(50px);
  transform: translateY(-200%);
}

.welcome-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-screen {
  width: 100%;
  height: 100vh;
  position: relative;
}

.main-screen>.main-screen_sec {
  height: calc(100% - 80px) !important;
  width: 100% !important;
}

section {
  width: 100%;
}

/* category click  */

.collection_wrapper {
  position: fixed;
  inset: 0;
  background: var(--white-text);
  display: flex;
  align-items: center;
  opacity: 0;
  scale: 0;
  transition: all 0.5s;
  z-index: 10000000;
}

.collection_wrapper.colActive {
  opacity: 1;
  scale: 1;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.collection_wrapper .collection_card1 {
  min-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.collection_card1 ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 2rem;
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1.5rem;
}

.collection_card2 {
  min-height: 30%;
  height: 100%;
  padding: 2rem;
}

.collection_card2 h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Sorts Mill Goudy", serif;
}

.collection_card2 .collection_images {
  margin-top: 3rem;
}

.collection_card2 .collection_images img {
  mix-blend-mode: darken;
  height: 400px;
  width: 100%;
  object-fit: contain;
}

.collection_card2 .collection_des {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.collection_card2 .collection_des p {
  font-size: 28px;
  font-family: "Sorts Mill Goudy", serif;
}

.collection_des a {
  padding: 14px 25px;
  background: var(--white-text);
  border: 1px solid #ccc;
  width: fit-content;
  text-decoration: none;
  color: var(--black-text);
  font-weight: bold;
}

.collection_card3 {
  min-height: 45%;
  height: 100%;
}

.collection_card3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.close_collection {
  position: absolute;
  left: 1%;
  top: 1%;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.6s;
}

/* category click end  */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 50px;
  background: var(--black-text);
  z-index: 10001;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.logo img {
  width: 9rem;
  height: auto;
}

.sm-logo {
  display: none;
}

.navbar {
  width: 100%;
  padding: 10px;
  transition: all 0.7s;
}

.navbar nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

#noneMenu,
#closeMenu {
  display: none;
}

#closeMenu {
  font-size: 30px;
  color: var(--brown-color);
  cursor: pointer;
}

.navbar nav ul li a {
  text-decoration: none;
  color: var(--gray-text);
}

.navbar ul li a:hover {
  text-decoration: dashed;
}

.cart i {
  font-size: 30px;
  color: var(--brown-color);
  display: flex;
  cursor: pointer;
}

.cart a {
  text-decoration: none;

}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Category  */

.dropbtn {
  background-color: var(--brown-color);
  font-weight: bold;
  padding: 0 16px;
  font-size: 1rem;
  border: none;
  height: 40px;
  cursor: pointer;
  border-radius: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

/* category-end  */

/* Hero-Section-Start */

.slide-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bigScreen {
  display: block;
}

.smallScreen {
  display: none;
}

.slider-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  z-index: 1;
}

.slider-video.active {
  display: block;
  z-index: 2;
}

.nextBtn,
.prevBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.nextBtn {
  right: 20px;
}

.prevBtn {
  left: 20px;
}

.nextBtn:hover,
.prevBtn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}

.dotsContainer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.dot.active {
  background-color: #fff;
}

@media (max-width: 800px) {
  .bigScreen {
    display: none !important;
  }

  .smallScreen {
    display: block !important;
  }

  .main-screen {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  .slider-video.smVideo {
    display: block;
    object-fit: contain;
    position: relative;
    inset: 0;
    height: 100%;
  }

  .nextBtn,
  .prevBtn {
    font-size: 20px;
    padding: 8px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}

/* Hero-Section-End */

/* Category-Section-Start */
.special-offers-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartegory {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brown-color);
}

.category .heading h2 {
  font-size: 8rem;
  font-family: fantasy;
  font-weight: normal;
  letter-spacing: 2rem;
  text-align: center;
  color: var(--brown-color);
  padding-top: 1rem;
}

.category .heading h2 {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.6s ease-out;
}

.card-1 {
  background: #faf2e834;
}

.category .heading h2.show {
  opacity: 1;
  transform: translateX(0);
}

.hand {
  display: grid;
  place-items: center;
  margin-bottom: 40px;
}

.card_container {
  gap: 6rem;
  margin-top: 40px;
  display: flex;
  transform: translateX(50px);
  transition: all 0.6s ease-in-out;
}

.card_container.show {
  transform: translateX(0);
}

.card_article {
  position: relative;
  overflow: hidden;
}

.card_img {
  width: 250px;
  height: 250px;
  border-radius: 0.5rem;
  mix-blend-mode: darken;
  border: 1px solid var(--brown-color);
}

.card_data {
  width: 230px;
  height: 130px;
  background-color: var(--white-text);
  padding: 1.5rem 2rem;
  box-shadow: 0 0 10px 10px hsla(0, 0%, 0%, 0.15);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s;
}

.card_description {
  display: block;
  font-size: large;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.25rem;
  text-align: center;
}

.card_data p {
  font-size: medium;
  font-family: "Montserrat", sans-serif;
}

.card_data p span {
  color: var(--brown-color);
}

.card_data button {
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: medium;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  color: var(--white-text);
  background-color: var(--brown-color);
  box-shadow: 0 20px 24px gray;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.pitch {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.6s ease-out;
}

.pitch.show {
  opacity: 1;
  transform: translateX(0);
}

.hand .pitch p {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  color: var(--brown-color);
  padding-top: 5rem;
}

.card__botton:hover {
  text-decoration: underline;
}

.card_article:hover .card_data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card_article:hover {
  animation: remove-overflow 2s forwards;
}

.card_article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card_article:not(:hover) .card_data {
  animation: remove-data 1s forwards;
}

@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }

  50% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
  }

  50% {
    overflow: hidden;
  }
}

/* Category-Section-End */

/* flip card  */

/* Diamond-End */

/* grid images */
.grid_images {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
  padding: 2rem;
}

.diary_heading {
  margin-bottom: 2rem;
  text-align: center;
}

.diary_heading h2 {
  font-size: 6rem;
  font-family: fantasy;
  font-weight: normal;
  color: var(--brown-color);
  letter-spacing: 0.4rem;
}

.grid_images .grid_img_card {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.grid_img_card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(0.3);
  transition: all 0.5s linear;
}

.grid_img_card img:hover {
  filter: grayscale(0);
  scale: 1.05;
}

.ratings-summary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  justify-content: center;
  padding: 5rem 5rem;
}

.ratings-bars .bar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
  color: #fff;

}

.ratings-bars .bar {
  flex: 1;
  height: 8px;
  margin: 0 10px;
  background: #eee;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;

}

.ratings-bars .bar div {
  height: 100%;
  background: #ffc107;
  
}

/* Star & Rating Section */
.average-rating h2,
.recent-rating h2 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
  color: var(--white-text);
}

.average-rating p,
.recent-rating p {
  color: var(--white-text);
}

.stars {
  font-size: 1.3rem;
  color: #ffc107;
}

/* Reviews Grid */
.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.review-card {
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.review-card:hover {
  transform: translateY(-5px);
}

.review-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.review-card h4 {
  margin-top: 1rem;
  font-weight: 600;
}

/* feature products */
.feature_products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}



.card {
  margin: 50px;
  border-radius: 20px;
  width: 250px;
  background-color: var(--dark);
}
.basicInfo {
  background-color: beige;
  border-radius: 18px;
  padding: 25px;
  position: relative;
}
.title .category,
.title .info {
  font-weight: 600;
  font-size: small;
}
.title .name {
  font-weight: bold;
  font-size: xx-large;
  padding-bottom: 3px;
}
.card .img {
  position: relative;
  z-index: 1;
  text-align: center;
}
.card .img img {
  width: 80%;
  transform: scale(1) rotate(20deg);
  transition: 0.5s;
}

.card .img::after {
  position: absolute;
  bottom: 0;
  width: 70%;
  height: 40px;
  background-color: #000;
  content: "";
  right: 30px;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.2;
  filter: blur(10px);
  transition: 0.5s;
  
}

.more {
  padding: 20px;
}

.more .stars,
.more .price {
  display: inline-block;
}

.more .price {
  float: right;
  color: #eee;
  font-weight: 600;
  letter-spacing: 1px;
}

.more .stars {
  color: #9b9a9a;
  font-size: medium;
}

.text-yellow {
  color: rgb(209, 209, 6);
}

.addCard {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 3;
}
.addCard i {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--green);
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: 100px;
  bottom: -25px;
  border: 5px solid var(--dark);
  transition: 0.5s;
  opacity: 0;
  transform: translate(0, 10px);
}

/* animation */
.card:hover .img img {
  transform: scale(1.1) rotate(25deg) translate(0px);
}
.card:hover .img::after {
  width: 90%;
}
.card:hover .addCard i,
.card:hover .addCard::before,
.card:hover .addCard::after {
  opacity: 1;
  transform: translate(0, 0);
}