:root {
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);
  --body-font: "Montserrat", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --white-text: #ffffff;
  --golden-text: #deb647;
  --brown-color: #a87735;
  --gray-text: #f6f6f6;
  --black-text: #000;
  --icon-size: 1.313rem;
}

.new-slider-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
}

.n-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.n-slider img {
  width: 100%;
  flex: 0 0 100%;
  object-fit: cover;
}

.n-prev,
.n-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  padding: 0.3rem 0.8rem;
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
}

.n-prev {
  left: 10px;
}

.n-next {
  right: 10px;
}

.section_heading_new_arr {
  text-align: center;
  font-family: fantasy;
  margin-bottom: 3rem;
  letter-spacing: 2rem;
}

.section_heading_new_arr h2 {
  font-size: 9rem;
  color: var(--brown-color);
}

/* articale card */
.card__bg,
.card__blur {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card__blur {
  backdrop-filter: blur(24px);
}

.new_arrivals_products {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.card__articale {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #232323;
  background: #f5e5d30f;
  height: 300px;
  width: 300px;
  margin-left: 40px;
  border-radius: 30px;
  background-color: #F3F3F3;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  transition: transform 0.4s;
}

.card__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 70%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__data {
  color: var(--white-text);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}

.card__clip {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: var(--main-bg);
  z-index: 5;
  cursor: pointer;
  transition: transform 0.4s;
}

.card__articale:hover .card__img {
  transform: scale(1.1);
}

.relative {
  position: relative !important;
}

/* gallery products */
.gallery_products {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  backdrop-filter: blur(30px);
  z-index: 12;
  scale: 0;
  opacity: 0;
}

.gallery_products.activeGallery {
  opacity: 1;
  scale: 1;
}

.gallery_p_card {
  background: var(--white-text);
  display: flex;
  width: 50%;
  border-radius: 20px !important;
}

.gallery_p_card_right {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #F3F3F3 !important;
  border-radius: 2rem;
}

.gallery_p_card_left {
  width: 50%;
  border-radius: 2rem;
  background-color: var(--black-text) !important;
  border: 10px solid #F3F3F3;
}

.gallery_p_card_left img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(1px 1px 10px var(--brown-color));
}

.gallery_p_card_right .gallery_content {
  width: 100%;
  height: 70%;
}

.gallery_content h2 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.gallery_content p {
  margin: 1rem 0;
}

.gallery_content .g_price {
  font-size: 20px;
}

.g-btns-wrapper {
  display: flex;
  margin: 1rem 0;
  gap: 10px;
}

.g-btns-wrapper button {
  padding: 13px 20px;
  border: none;
  background: var(--brown-color);
  color: var(--white-text);
  margin-left: 2rem;
  border-radius: 5px;
}

.gallery_controls {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60%;
}

.gallery_controls button {
  background: var(--white-text);
  width: auto;
  height: 40px;
  aspect-ratio: 1;
  border-radius: 10%;
  border: none;
  color: var(--black-text);
  font-size: 20px;
}

@media (min-width: 800px) and (max-width: 1000px) {
  .gallery_p_card {
    width: 80%;
  }
  .gallery_controls {
    width: 100%;
    gap: 0;
    justify-content: space-between;
    padding: 0 2.5rem;
  }
  .gallery_content {
    height: 100%;
    width: 100%;
  }
  .gallery_p_card_right {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }
  .g-btns-wrapper {
    justify-content: center;
    margin-top: 2rem;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .gallery_p_card {
    width: 90%;
  }
  .gallery_controls {
    width: 100%;
    gap: 0;
    justify-content: space-between;
    padding: 0 0;
  }
  .gallery_content {
    height: 100%;
    width: 100%;
  }
  .gallery_content h2 {
    font-size: 1.5rem;
  }
  .gallery_p_card_right {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }
  .g-btns-wrapper {
    justify-content: center;
    margin-top: 2rem;
  }
  .g-btns-wrapper button {
    padding: 10px 20px;
  } 
}

@media (min-width: 475px) and (max-width: 599px) {
  .gallery_p_card {
    width: 90%;
    height: 50%;
  }
  .gallery_controls {
    width: 100%;
    gap: 0;
    justify-content: space-between;
    padding: 0 0;
  }
  .gallery_content {
    height: 100%;
    width: 100%;
  }
  .gallery_content h2 {
    font-size: 1rem;
  }
  .gallery_p_card_right {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.8rem;
  }
  .g-btns-wrapper {
    justify-content: center;
    margin-top: 1rem;
  }
  .g-btns-wrapper button {
    padding: 8px 1rem;
    font-size: 12px;
  } 
  .gallery_controls button {
    width: 20px;
    font-size: 20px;
  }
}

@media (min-width: 350px) and (max-width: 474px) {
  .gallery_p_card {
    width: 85%;
    height: auto;
    flex-direction: column;
  }
  .gallery_controls {
    width: 100%;
    gap: 0;
    justify-content: space-between;
    padding: 0 0;
  }
  .gallery_content {
    height: 100%;
    width: 100%;
  }
  .gallery_content h2{
    font-size: 20px;
  }
  .gallery_p_card_left {
    width: 100%;
  }
  .gallery_p_card_left img {
    width: 300px;
    display: block;
    margin: 0 auto;
  }
  .gallery_p_card_right {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
  }
  .g_price{
    font-size: 14px !important;
  }
  .g-btns-wrapper {
    justify-content: center;
    margin-top: 1rem;
  }
  .g-btns-wrapper button {
    padding: 8px 1rem;
    font-size: 1rem;
  } 
  .gallery_controls button {
    width: 30px;
    font-size: 20px;
  }
}

@media (min-width: 250px) and (max-width: 349px) {
  .gallery_p_card {
    width: 85%;
    height: auto;
    flex-direction: column;
  }
  .gallery_controls {
    width: 100%;
    gap: 0;
    justify-content: space-between;
    padding: 0 0;
  }
  .gallery_content {
    height: 100%;
    width: 100%;
  }
  .gallery_content h2{
    font-size: 20px;
  }
  .gallery_p_card_left {
    width: 100%;
  }
  .gallery_p_card_left img {
    width: 200px;
    display: block;
    margin: 0 auto;
  }
  .gallery_p_card_right {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
  }
  .g_price{
    font-size: 14px !important;
  }
  .g-btns-wrapper {
    justify-content: center;
    margin-top: 1rem;
  }
  .g-btns-wrapper button {
    padding: 8px 13px;
    font-size: 13px;
  } 
  .gallery_controls button {
    width: 25px;
    font-size: 20px;
    background: var(--black-text);
  }
}
@media (max-width: 250px) and (max-width: 870px) {

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .banner_row {
    height: 100vh !important;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.5rem !important;
  }

  .new-slider-container,
  .n-slider {
    height: 100% !important;
    width: 100%;
  }

  .n-slider img {
    width: 80% !important;
    height: 73% !important;
    object-fit: cover;
    display: block;
  }

  .n-prev,
  .n-next {
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  .n-prev {
    left: 10px;
    position: absolute;
  }

  .n-next {
    right: 10px;
    position: absolute;
  }
}
