/* Container setup */
.banner_row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.n-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.n-slider img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 8px;
    transition: opacity 0.5s ease;
}

.n-prev,
.n-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    width: 40px;
    align-self: 1;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.n-prev:hover,
.n-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.n-prev {
    left: 10px;
}

.n-next {
    right: 10px;
}

@media screen and (max-width: 768px) {
    .new-slider-container {
        width: 95%;
        padding: 2rem 0;
    }

    .n-prev,
    .n-next {
        font-size: 1.5rem;
    }
}
